@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

:root {
    --color-border: #344955;
    --color-text: black;
    --color-text-background: #D5ECFA;
    --color-text-background-disabled: #BCD3E1;
    --color-background-main: white;
    --color-background-light: #F8F9FA;
    --color-background-dark: #1D3557;
    --color-selected-background: #BCE3FA;
    --color-selected-text: black;
    --color-button-text: black;
    --color-button-background: lightgray;
    --color-button-background-hover: #7aa6c2;
}

*, body {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: var(--color-background-main);
    overflow: hidden;
}

.custom-checkbox-input {
    display: none;
}

.input-label {
    display: block;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    line-height: 26px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.custom-textbox {
    flex: 0 0 20px;
}

.custom-checkbox-text {
    background-color: var(--color-background-light);
    display: inline-block;
    width: 68px;
    color: var(--color-text);
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--color-border);
    user-select: none;
}

.custom-checkbox-input:checked ~ .custom-checkbox-text {
    background-color: var(--color-selected-background);
    color: var(--color-selected-text);
}

.grid_table {
    border: 1px solid var(--color-border);
    height: 95px;
    width: 566px;
    overflow-y: scroll;
}

.grid-row {
    font-size: 0;
    text-align: center;
}

.grid-item {
    font-size: 16px;
    float: left;
    text-align: center;
}

.regular-input {
    display: inline-block;
    width: 100%;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

    .form-holder .form-content {
        position: relative;
        text-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

.form-content .form-items {
    border: 3px solid var(--color-border);
    padding: 20px;
    display: inline-block;
    width: 620px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: var(--color-text);
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}

.form-content p {
    color: var(--color-text);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.form-content input[type=text] {
    width: 100%;
    padding: 2px 4px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 300;
    color: var(--color-text);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content input[type=text]:not(.errorfield) {
    text-transform: uppercase;
}

.form-content input[type=text]:not(.disabled) {
    background: var(--color-text-background);
}

.form-content input[type=text]:disabled {
    background: var(--color-text-background-disabled);
}

.form-content select {
    width: 100%;
    padding: 2px 2px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid black;
    background-color: var(--color-text-background);
    font-size: 15px;
    font-weight: 300;
    color: var(--color-text);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container {
    position: relative;
    border: 3px solid green;
}

.center {
    margin: 0;
    -ms-transform: translate(50%, 0%);
    transform: translate(40%, 0%);
}

.row-button {
    margin-top: 10px;
    margin-left: 2px;
    width: 24px;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    outline: #1d3557 solid 1px;
    border: 0px;
}

.parse-button {
    margin-top: 10px;
    margin-bottom: -10px;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    padding: 6px 20px;
    outline: #1d3557 solid 1px;
    border: 0px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: var(--color-button-background-hover);
    }

* {
    box-sizing: border-box;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 6px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.1s ease;
}

    .cbx span {
        float: left;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }

        .cbx span:first-child {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            transform: scale(1);
            border: 1px solid var(--color-border);
            transition: all 0.1s ease;
            box-shadow: 0 1px 1px var(--color-border);
        }

            .cbx span:first-child svg {
                position: absolute;
                top: 3px;
                left: 2px;
                fill: none;
                stroke: var(--color-border);
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: 16px;
                transition: all 0.1s ease;
                transition-delay: 0.1s;
                transform: translate3d(0, 0, 0);
            }

        .cbx span:last-child {
            padding-left: 8px;
            padding-right: 10px;
            line-height: 18px;
        }

.inp-cbx {
    position: absolute;
    visibility: hidden;
}

    .inp-cbx:checked + .cbx span:first-child {
        border-color: var(--color-text);
        animation: wave 0.1s ease;
    }

        .inp-cbx:checked + .cbx span:first-child svg {
            stroke-dashoffset: 0;
        }

.column {
    float: left;
    width: 38%;
}

.row {
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.first-cbx-row {
    margin-bottom: 4px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.disabled {
    background: var(--color-text-background-disabled);
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: var(--color-text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    body {
        width: auto;
        display: inherit;
        padding: 20px;
    }

    .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}